body {
  background: linear-gradient(rgb(138, 86, 145), rgb(232, 122, 133));
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  text-align: center;
}

#header h1 {
  margin-bottom: 3vh;
  margin-top: 3vh;
  text-shadow: 1px 2px 3px rgb(0, 0, 0);
  font-size: 70px;
  font-weight: 800;
  mix-blend-mode: color-burn;
  transition: color 1.5s cubic-bezier(0.345, 0.045, 0.355, 1);
}

#header h1:hover {
  mix-blend-mode: overlay;
  color: rgb(255, 255, 255);
}

form {
  text-align: center;
  margin-bottom: 40px;
}

input {
  height: 20px;
  margin: 10px;
}

#main {
  display: block;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cardOfCharacter {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.cardOfCharacter img:hover {
  transition: ease-in-out 0.3s;
  box-shadow: 4px 4px 8px black;
  transform: rotate(0.5deg);
  transition-duration: 0.3s;
  text-shadow: 2px 2px 2px black;
}

.form-control:focus {
  border-color: #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.ownInfo {
  width: 40vw;
  margin: auto;
  text-align: center;
  transition: ease-in-out 1s;
}
.ownInfo:hover {
  letter-spacing: 2px;
  word-spacing: 4px;
}
#OwnCard {
  min-height: 100vh;
  text-align: center;
  font-size: 20px;
}

.bgContainer {
  min-height: 100vh;
}

#OwnCard img {
  height: 45vh;
  margin: 10px;
  transition: ease-out 0.5s;
  box-shadow: 3px 3px 3px black;
}

#OwnCard img:hover {
  height: 50vh;
  box-shadow: 12px 12px 12px black;
}

#OwnCard button {
  width: 5vw;
  transition: ease-in-out 0.6s;
}

#OwnCard button:hover {
  width: 10vw;
  font-size: 20px;
}

.alert {
  position: absolute;
  z-index: 5;
  width: 60%;
  height: 40vh;
  border: 1px solid black;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
  align-self: center;
  justify-self: center;
}

.pagination span {
  margin: 10px;
  cursor: pointer;
}

.pagination span.active {
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
}

.page-item {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  margin: 20px;
}

a {
  text-decoration: none;
}

#blockCards {
  display: inline;
}

#searchName {
  height: 40px;
}

.container button {
  width: 5vw;
  transition: ease-in-out 0.6s;
}

.container button:hover {
  width: 10vw;
}

.container{
  min-width: 40vw;
}

.pagination span{
  min-width: 25px;
  min-height: 25px;
  background-color: #913c3c6e;
  text-align: center;
  font-weight:500;
  border-radius: 3px;
  transition: ease-in-out 0.2s;
  margin: 10px;
  font-size: 20px;
}
.pagination span:hover{
  min-width: 60px;
  font-weight:700;
  color: rgb(255, 255, 255);
}

.active{
  color: beige;
  border:0px !important;
}